@font-face {
  font-family: 'jua';
  src: url('./fonts/GowunDodum-Regular.ttf');
}
.App {
  font-family: 'jua';
}

h1 {
  font-size: 120px;
  background: linear-gradient(to right top, #97b6da, #0024f0);
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin: 50px;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 10px 20px 10px 0px;
  font-size: 1.2rem;
}

.header a:hover {
  font-weight: bold;
  color: white;
}

.posts a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 20px 20px;
  color: gray;
}

.posts a:hover {
  color: black;
}

.ellipsis {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}

.login a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0px 20px;
  font-size: 1.2rem;
}

.login a:hover {
  color: aquamarine;
  
}

.image {
  border: 1px solid gray;
}